* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

body {
    font-family: $font1 !important;
    font-size: rem(14px);
    line-height: rem(22px);
    color: $color4;

    @include breakpoint-up(md) {
        font-size: rem(16px);
        line-height: rem(22px);
    }
}

/* GENERAL */
p {
    margin: rem(10px) 0;
}

a {
    color: inherit;
}

/* HEADING */
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    margin: rem(15px) 0;
}

strong {
    font-weight: 500;
}

h1,
.h1 {
    font-size: rem(35px);
    line-height: rem(42px);
    font-weight: 700 !important;
    color: $color1;

    @include breakpoint-down(md) {
        font-size: rem(25px);
        line-height: rem(30px);
    }

    @include breakpoint-up(md) {
        font-size: rem(35px);
        line-height: rem(42px);
    }
}

.wp-block-cover {
    h1:not(.has-text-color) {
        color: $white;
    }
}

h2,
.h2 {
    font-weight: 700;

    @include breakpoint-down(md) {
        font-size: rem(20px);
        line-height: rem(24px);
    }

    @include breakpoint-up(md) {
        font-size: 2rem;
        line-height: rem(38.4px);
    }
}


h3,
.h3,
.note {
    font-weight: 700;

    @include breakpoint-down(md) {
        font-size: rem(16px);
        line-height: rem(19.2px);
    }

    @include breakpoint-up(md) {
        font-size: rem(26px);
        line-height: rem(31.2px);
    }
}

h4,
.h4 {
    font-weight: 700;

    @include breakpoint-down(md) {
        font-size: rem(16px);
        line-height: rem(19.2px);
    }

    @include breakpoint-up(md) {
        font-size: rem(20px);
        line-height: rem(24px);
    }
}

h5,
.h5 {
    font-weight: 700;
    font-size: rem(15px);
    line-height: rem(22px);
    font-weight: 400 !important;

    @include breakpoint-up(md) {
        font-size: rem(16px);
        line-height: rem(24px);
    }
}

.wp-block-post-title {
    a {
        color: inherit !important;
        text-decoration: none;
    }
}

.color_main {
    color: $color1;
}

.color_main_inside {
    a {
        color: $color1 !important;
        text-decoration: none;
    }
}


//COLORS
.text {
    &__white {
        color: $white;
    }

    &__main {
        color: $color1;
    }
}



/* MARGIN TOP */
.mt {
    &_0 {
        margin-top: 0 !important;
    }

    &_05 {
        margin-top: 0.5rem !important;
    }

    &_1 {
        margin-top: 1rem !important;
    }

    &_2 {
        margin-top: 2rem !important;
    }
}

/* MARGIN BOTTOM */
.mb {
    &_0 {
        margin-bottom: 0 !important;
    }

    &_05 {
        margin-bottom: 0.5rem !important;
    }

    &_1 {
        margin-bottom: 1 !important;
    }

    &_2 {
        margin-bottom: 2 !important;
    }
}


/* BACKGROUND */
.bg {
    &__blue {
        background-color: $blue;
        color: $white;
    }

    &__grey {
        background-color: $grey;
    }
}

.padding {
    &__topPc0 {
        @include breakpoint-up(md) {
            padding-top: 0;
        }
    }

    &__bottomPc0 {
        @include breakpoint-up(md) {
            padding-bottom: 0;
        }
    }

}

.gocenter {
    margin-left: auto;
    margin-right: auto;
}

.keepPadding {
    background: red;

    @include breakpoint-down(md) {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    @include breakpoint-up(md) {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.blue {
    color: $blue !important;
}

.pink {
    color: $pink !important;
}

.uppercase {
    text-transform: uppercase;
}

ol {
    counter-reset: my-awesome-counter;
    list-style-type: none !important;

    li {
        position: relative;
        counter-increment: my-awesome-counter;
        text-align: justify;
        margin: 1rem 0;

        @include breakpoint-down(md) {
            padding-left: 3.5rem;
        }

        @include breakpoint-up(md) {
            padding-left: 5.75rem;
        }

        &:nth-child(4n + 1) {
            &:before {
                background: $color6;
            }
        }

        &:nth-child(4n + 2) {
            &:before {
                background: $color5;
            }
        }

        &:nth-child(4n + 3) {
            &:before {
                background: $color1;
            }
        }

        &:nth-child(4n + 4) {
            &:before {
                background: $color2;
            }
        }

        &:before {
            content: counter(my-awesome-counter);
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 100%;
            text-align: center;
            color: $white;

            @include breakpoint-down(md) {
                width: rem(42px);
                height: rem(42px);
                line-height: rem(42px);
                font-size: rem(20px);
            }

            @include breakpoint-up(md) {
                font-size: 2rem;
                width: rem(68px);
                height: rem(68px);
                line-height: rem(68px);
            }
        }
    }
}

.gocenter {
    margin-right: auto;
    margin-left: auto;
}

.mw {
    &__780 {
        max-width: 780px;
    }
    &__950 {
        max-width: 950px;
    }

}