* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

body {
    font-family: $font1 !important;
    font-size: rem(14px);
    line-height: rem(22px);
    color: $color4;
    @include breakpoint-up(md) {
        font-size: rem(16px);
        line-height: rem(22px);
    }
}

/* GENERAL */
p {
    margin: rem(10px) 0;
}

a {
    color: inherit;
}

/* HEADING */
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    margin: rem(15px) 0;
}

strong {
    font-weight: 500;
}

h1,
.h1 {
    font-size: rem(30px);
    line-height: rem(37px);
    font-weight: 600 !important;
    color: $color1;

    @include breakpoint-up(md) {
        font-size: rem(40px);
        line-height: rem(49px);
    }
}

.wp-block-cover {
    h1:not(.has-text-color) {
        color: $white;
    }
}

h2,
.h2 {
    font-size: rem(20px);
    line-height: rem(24px);
    font-weight:700;
    @include breakpoint-up(md) {
        font-size: rem(32px);
        line-height: rem(38.4px);
    }
}


h3,
.h3,
.note {
    font-size: rem(18px);
    line-height: rem(22px);

    @include breakpoint-up(md) {
        font-size: rem(24px);
        line-height: rem(29px);
    }
}

h4,
.h4 {
    font-size: rem(15px);
    line-height: rem(22px);

    @include breakpoint-up(md) {
        font-size: rem(16px);
        line-height: rem(24px);
    }
}

h5,
.h5 {
    font-size: rem(15px);
    line-height: rem(22px);
    font-weight: 400 !important;

    @include breakpoint-up(md) {
        font-size: rem(16px);
        line-height: rem(24px);
    }
}

.wp-block-post-title {
    a {
        color: inherit !important;
        text-decoration: none;
    }
}

.color_main {
    color: $color1;
}

.color_main_inside {
    a {
        color: $color1 !important;
        text-decoration: none;
    }
}


//COLORS
.text {
    &__white {
        color: $white;
    }

    &__main {
        color: $color1;
    }
}



/* MARGIN TOP */
.mt {
    &_0 {
        margin-top: 0 !important;
    }

    &_05 {
        margin-top: 0.5rem !important;
    }

    &_1 {
        margin-top: 1rem !important;
    }

    &_2 {
        margin-top: 2rem !important;
    }
}

/* MARGIN BOTTOM */
.mb {
    &_0 {
        margin-bottom: 0 !important;
    }

    &_05 {
        margin-bottom: 0.5rem !important;
    }

    &_1 {
        margin-bottom: 1 !important;
    }

    &_2 {
        margin-bottom: 2 !important;
    }
}


/* BACKGROUND */
.bg {
    &__blue {
        background-color: $blue;
        color: $white;
    }

    &__grey {
        background-color: $grey;
    }
}


/*COMMON*/
.common {
    &__paddingTopBottomNormal {
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;

        @include breakpoint-up(md) {
            padding-top: 1.2rem;
            padding-bottom: 1.2rem;
        }
    }

    &__paddingTopBottom {
        padding-top: rem(32px);
        padding-bottom: rem(32px);
        margin-bottom: 0;

        @include breakpoint-up(md) {
            padding-top: rem(60px);
            padding-bottom: rem(60px);
        }

        .wp-block-columns {
            margin-bottom: 0;

            >.wp-block-column {

                h1,
                h2,
                h3,
                h4,
                h5,
                h6,
                .h1,
                .h2,
                .h3,
                .h4,
                .h5,
                .h6 {
                    margin-top: 0;
                }
            }
        }
    }

    &__paddingTop {
        padding-top: rem(32px);

        @include breakpoint-up(md) {
            padding-top: rem(60px);
        }
    }

    &__paddingbottom {
        padding-bottom: rem(32px);

        @include breakpoint-up(md) {
            padding-bottom: rem(60px);
        }
    }
}

.paddingLeftDefault {
    padding-left: rem(54px);

    @include breakpoint-up(md) {
        padding-left: rem(94px);
    }

    @include breakpoint-up(lg) {
        padding-left: rem(114px);
    }
}


.gocenter {
    margin-left: auto;
    margin-right: auto;
}

.keepPadding {
    background: red;

    @include breakpoint-down(md) {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    @include breakpoint-up(md) {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}