@import "./base/fonts";
@import "./base/mixins";
@import "./base/common";
@import "./layouts/header";
@import "./layouts/footer";

.container {
    width: 100%;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: rem(1232px);
    margin: 0 auto;

    @include breakpoint-up(md) {
        padding-left: rem(16px);
        padding-right: rem(16px);
    }
}



@import "./base/general";