@import "./base/fonts";
@import "./base/mixins";
@import "./base/common";
@import "./layouts/header";
@import "./layouts/footer";

//Blocks
@import "./blocks/mainbanner";
@import "./blocks/payment";
@import "./blocks/courseslider";
@import "./blocks/boxesContent";
@import "./blocks/intro";
@import "./blocks/values";
@import "./blocks/vision";
@import "./blocks/expertslider";

html,body{
    overflow-x: hidden;
}

.container {
    width: 100%;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: rem(1216px);
    margin: 0 auto;

    @include breakpoint-up(md) {
        padding-left: rem(16px);
        padding-right: rem(16px);
    }
}



@import "./base/general";