.banner {
  margin-top: 102px;
  margin-bottom: 16px;
  @include breakpoint-up(md) {
    position:relative;    
    overflow: hidden;
    z-index:-1;
    margin-top:0;
    background-color: $color3;
  }

  &__imgBg {
    display: none;
    @include breakpoint-up(md) {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  &__container {
    @include breakpoint-up(md) {
      min-height:306px;
      height: 100%;
      display: flex;
      align-items: center;
      padding-top:4%;
    }
  }
  &__title {

  }
}
