.boxesContent{
    &__itemsWrap{
        display: flex !important;
        flex-wrap: wrap !important;
        width: 100% !important;
        gap: initial !important;
        justify-content: space-between;
    }
    &__item{
        flex-basis: 47.5% !important;
        flex-grow: initial !important;
        background-color: $white;
        box-shadow: -4px 4px 8px 3px rgba(0, 0, 0, 0.1);
        margin: 1rem 0 !important;
        padding: 2rem 1rem;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-self: center;
        text-align: center;
    }
}