.contactForm {
  position: relative;

  &__imgBg {
    position: relative;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
    margin-bottom: 1.6rem;

    @include breakpoint-up(md) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;

      img {
        display: block;
        margin: 0 auto;
        height: 100%;
        width: auto;
      }
    }
  }

  &__container {
    @include breakpoint-up(md) {
      box-sizing: border-box;

      >div {
        width: 50%;
        margin-left: auto;
        padding-top: 10%;
        padding-right: 10%;
        box-sizing: border-box;
      }
    }

  }

  &__title {
    position: absolute;
    top: 9%;
    right: 0;
    color: $white;
    display: block;
    width: 50%;
    padding-right: 10%;
    box-sizing: border-box;
    margin-left: auto;

    @include breakpoint-up(md) {
      position: static;
      margin: 0 auto;
      padding-right: 0;
      width: 100%;

    }
  }

  &__form {
    max-width: 334px;
    margin-left: auto;
    margin-right: auto;

    p {
      line-height: 0.8rem;
    }

    .wpcf7-form-control-wrap {
      display: block;
      width: 100%;

      input,
      textarea {
        min-height: 32px;
        width: 100%;
        background-color: $color3;
        border: none;
        padding: 6px 16px;
        box-sizing: border-box;
        font-family: $font1;
        color: $color4;

        &::placeholder {
          font-size: 12px;
          font-family: $font1;
          color: $color4;
        }
      }
    }

    input[type*="submit"] {
      min-width: 106px;
      min-height: 34px;
      background-color: $color2;
      display: block;
      margin-left: auto;
      border: none;
      color: $white;
      font-weight: 700;
    }

    @include breakpoint-up(md) {
      max-width: 100%;
    }
  }
}

/*-----------------CONTACT BLOCK--------------------*/
.contactBlock {
  position: relative;

  overflow: hidden;

  &__wrap {
    margin: 0;
    gap: 0 !important;

    @include breakpoint-up(md) {
      min-height: rem(780px);
    }
  }

  &__item {
    &--tit {
      color: $white;

      @include breakpoint-down(md) {
        position: absolute;
        top: rem(50px);
        right: 1rem;
        font-size: rem(18px);
      }
    }

    &--img {
      @include breakpoint-down(md) {
        margin-bottom: 0;
      }

      @include breakpoint-up(md) {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        height: 100%;
        width: 100%;
        max-width: 1680px;
      }


      img {
        width: auto;
        height: 100%;
      }
    }

    &.thumb {
      margin-left: -1rem;
      margin-right: -1rem;
    }

    &.info {
      z-index: 2;

      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-bottom: 2rem;

      @include breakpoint-up(md) {
        position: relative;
      }

      input[type="text"],
      input[type="email"],
      input[type="tel"],
      textarea {
        @include breakpoint-down(md) {
          background-color: $color7;
        }
      }

      input[type="submit"] {
        margin-left: auto;
        margin-right: 0;

        box-sizing: border-box;
      }

      .wpcf7-not-valid-tip {
        display: none;
      }

      .wpcf7-spinner {
        position: absolute;
        right: 10rem;
        bottom: 3.5rem
      }

      .wpcf7-not-valid {
        border: 2px solid $color2;

        border-radius: 5px;
      }

      .wpcf7-response-output {
        display: none;
      }
    }
  }
}

input,
textarea {
  background: white;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  text-transform: uppercase;
  border: 0;
  margin: 0.5rem 0;
  border: 2px solid $white;
  box-sizing: border-box;
  transition: all 0.3s linear;
}

input[type="submit"] {
  background: $color2;
  color: $white;
  font-weight: 700;
  min-width: rem(167px);
  display: block;
  width: auto;
  font-size: rem(26px);
  padding: 0.7rem 1rem;
  border: 0;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $black;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $black;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: $black;
}