.contactForm {
  position: relative;

  &__imgBg {
    position: relative;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
    margin-bottom: 1.6rem;

    @include breakpoint-up(md) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;

      img {
        display: block;
        margin: 0 auto;
        height: 100%;
        width: auto;
      }
    }
  }

  &__container {
    @include breakpoint-up(md) {
      box-sizing: border-box;

      >div {
        width: 50%;
        margin-left: auto;
        padding-top: 10%;
        padding-right: 10%;
        box-sizing: border-box;
      }
    }

  }

  &__title {
    position: absolute;
    top: 9%;
    right: 0;
    color: $white;
    display: block;
    width: 50%;
    padding-right: 10%;
    box-sizing: border-box;
    margin-left: auto;

    @include breakpoint-up(md) {
      position: static;
      margin: 0 auto;
      padding-right: 0;
      width: 100%;

    }
  }

  &__form {
    max-width: 334px;
    margin-left: auto;
    margin-right: auto;

    p {
      line-height: 0.8rem;
    }

    .wpcf7-form-control-wrap {
      display: block;
      width: 100%;

      input,
      textarea {
        min-height: 32px;
        width: 100%;
        background-color: $color3;
        border: none;
        padding: 6px 16px;
        box-sizing: border-box;
        font-family: $font1;
        color: $color4;

        &::placeholder {
          font-size: 12px;
          font-family: $font1;
          color: $color4;
        }
      }
    }

    // input[type*="submit"] {
    //   min-width: 106px;
    //   min-height: 34px;
    //   background-color: $color2;
    //   display: block;
    //   margin-left: auto;
    //   border: none;
    //   color: $white;
    //   font-weight: 700;
    // }

    @include breakpoint-up(md) {
      max-width: 100%;
    }
  }
}

.wpcf7-submit {
  min-width: 106px;
  min-height: 34px;
  background-color: $color2;
  display: block;
  margin-left: auto;
  border: none;
  color: $white;
  font-weight: 700;
}

/*-----------------CONTACT BLOCK--------------------*/
.contactBlock {
  position: relative;

  overflow: hidden;

  &__wrap {
    margin: 0;
    gap: 0 !important;

    @include breakpoint-down(lg) {
      flex-direction: column;
    }

    @include breakpoint-up(lg) {
      min-height: rem(780px);
    }
  }

  &__item {
    &--tit {
      color: $white;

      @include breakpoint-down(lg) {
        position: absolute;
        top: rem(120px);
        left: 50%;
        font-size: 1.5rem;
        line-height: 1.4;

      }

      @include breakpoint-down(sm) {
        right: 1rem;
        top: rem(55px);
        font-size: rem(18px);

        br {
          display: none;
        }
      }

    }

    &--img {
      @include breakpoint-down(lg) {
        margin-bottom: 0;
      }

      @include breakpoint-up(lg) {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        height: 100%;
        width: 100%;
        max-width: 1680px;
      }


      img {
        width: auto;
        height: 100%;
      }
    }

    &.thumb {
      margin-left: -1rem;
      margin-right: -1rem;
    }

    &.info {
      z-index: 2;

      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-bottom: 2rem;

      @include breakpoint-up(lg) {
        position: relative;
      }

      input[type="text"],
      input[type="email"],
      input[type="tel"],
      textarea {
        @include breakpoint-down(lg) {
          background-color: $color7;
        }
      }

      input[type="submit"] {
        margin-left: auto;
        margin-right: 0;

        box-sizing: border-box;
      }


    }
  }
}

.wpcf7-not-valid-tip {
  display: none;
}

.wpcf7-spinner {
  position: absolute;
  right: 10rem;
  bottom: 3.5rem
}

.wpcf7-not-valid {
  border: 2px solid $color2;

  border-radius: 5px;
}

.wpcf7-response-output {
  display: none;
}

/*-----------------REGISTER FROM--------------------*/
.registerForm {
  gap: 0 !important;
  @include breakpoint-up(sm) {
    padding-bottom: 6rem !important;
  }
  &Wrap{
    @include breakpoint-down(sm) {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
  &__form {
    background-color: $color3;
    
    position: relative;
    @include breakpoint-down(sm) {
      padding: 1rem 2rem;
    }
    @include breakpoint-up(sm) {
      padding: 2rem 3rem;
    }
    .form__input,select {
      text-transform: uppercase;
    }
    .wpcf7-spinner{
      @include breakpoint-down(sm) {
        bottom:2.2rem !important;
      }
      @include breakpoint-up(sm) {
      
        right: 14rem;
      }
    }
  }

  &__item {
    &.info {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      position: relative;
      @include breakpoint-up(sm) {
        margin-right: -8rem;
      bottom: -6rem;
      }
      .wp-block-group__inner-container {
        >h2 {
          margin-top: 0;
        }
      }
    }
  }

  &__bg {
    width: 100%;
    
    box-sizing: border-box;
    background-image: url(~images/register-form-bg.jpg);
    background-size: cover;
    position: relative;
    @include breakpoint-down(sm) {
      padding: 2rem;
    }
    @include breakpoint-up(sm) {
      min-height: rem(564px);
      padding: 3rem;
    }
    .wp-block-group__inner-container{
      color: $white;
      @include breakpoint-up(sm) {
        max-width: 72%;
      }
    }
    .icon--phone{
      font-size: 24px;
      font-weight: 700;
    }
   
  }
}