.contactForm {
  position: relative;
  &__imgBg {
    position: relative;
    display: block;
    top:0;
    left:0;
    z-index:0;
  }
  &__container {

  }

  &__title {
    position: absolute;
    top: 9%;
    right: 0;
    color: $white;    
    display: block;
    width: 50%;
    padding-right: 10%;
    box-sizing:border-box;
    margin-left:auto;
  }
  &__form {

  }
}