.goals {
  &__target {
    &s {
      @include breakpoint-up(md) {
        padding: rem(45px) 0;
      }
    }

    &--img {
      @include breakpoint-down(sm) {
        img {
          max-width: 156px;
        }

      }
    }

    &--tit {
      color: $color1;
      font-weight: 700;

      strong {
        font-weight: 700;
      }
    }

    &--desc {
      max-width: rem(268px);
      text-align: center;
      margin: 0 auto;
    }
  }

  /*---- TIME ----*/
  &__time {
    &Section {
      padding: 2rem 0;

      @include breakpoint-down(sm) {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
    }

    &Wrap {
      position: relative;
      overflow: hidden;
    }

    &__img {
      overflow: hidden;
      @include breakpoint-down(sm) {
        min-height: rem(320px);
      }
      @include breakpoint-up(sm) {
        min-height: rem(445px);
      }

      .wp-block-image {
        position: absolute;
        width: 100%;

        @include breakpoint-down(sm) {
          height: 100%;
        }

        img {
          @include breakpoint-down(sm) {
            position: relative;
            left: -56%;
            width: auto;
            max-width: none;
            height: 100%;
          }

          @include breakpoint-up(sm) {
            width: 64%;
            left: -120%;
          }

          // width: 100%;
          // height: auto;
        }
      }
    }

    &__content {
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;

      @include breakpoint-down(sm) {
        position: absolute;
        width: 54%;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
      }

      @include breakpoint-up(sm) {
        position: relative;
      }
    }

    &__table {
      background: $color3;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      @include breakpoint-down(sm) {
        padding: 1rem;
      }

      @include breakpoint-up(sm) {
        padding: 2rem 1rem;
      }

      .wp-block-group__inner-container {}

      .wp-block-columns {
        margin: 0;

        @include breakpoint-down(sm) {
          gap: 0;
        }

        @include breakpoint-up(sm) {
          gap: 1rem;
        }

        &.month {
          align-items: flex-end !important;

          @include breakpoint-up(sm) {
            margin: 1rem 0 0.5rem 0;
          }
        }

        &.time {
          p {
            margin: 0;
            line-height: 2;
          }
        }

        &:not(.time) {
          p {
            line-height: 1;
          }
        }
      }

      .wp-block-column {
        &:first-child {
          flex-basis: auto;
          flex-grow: 0;
        }

      }
    }
  }
}