.goals {
  &__container {

    @include breakpoint-up(md) {
      flex-direction: column !important;
      gap: 0 !important;

    }
  }

  &__heading {
    text-align: center;

    strong {
      font-weight: 700
    }

    @include breakpoint-up(md) {
      margin-bottom: 0.6rem !important;
    }
  }

  &__title {
    width: 100%;
    text-align: center;
    color: $color2;
    text-transform: uppercase;

    @include breakpoint-up(md) {
      margin-bottom: 2rem !important;
    }
  }

  &__itemList {
    gap: 0 !important;
    margin-bottom: 2rem !important;
  }

  &__item {

    &__img {
      text-align: center;

      img {
        max-width: 156px;

        @include breakpoint-up(md) {
          max-width: 262px;
        }
      }

      figcaption {
        margin-top: 14px;
      }

      strong {
        font-weight: 700;
        color: $color1;
        font-size: rem(20px);
        line-height: rem(24px);
      }

    }

    &__desc {
      text-align: center;
      max-width: 324px;
      margin-left: auto;
      margin-right: auto;
      font-size: rem(16px);
      line-height: rem(20px);
      @include breakpoint-up(md) {
        max-width: 263px;
      }
    }
  }

  &__scheduledColumns {
    position: relative;
    width: calc(100% + 2rem);
    min-height: 246px;
    display: block !important;
    margin: 0 -1rem !important;
    @include breakpoint-up(md) {
      min-height: 420px;
      width: 100%;
      margin: 0 !important;
    }

  }

  &__scheduleColumn {}

  &__scheduleColumn__imgBg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 0;
    max-width: 243px;
    margin: 0;
    @include breakpoint-up (md) {
      max-width: 666px;
    }
    img {
      display: block;
      height: 100%;
      object-fit: cover;
    }
  }

  &__scheduleColumn__detail {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    max-width: 212px;
    background-color: $color3;
    margin: 2rem 0 !important;
    padding: 0 2rem;
    box-sizing: border-box;
    @include breakpoint-up (md) {
      min-width: 612px;
      max-height: 254px;
      height: auto;
      margin: 84px 0 !important;
      padding: 27px 85px 42px 85px;
    }

    p {
      &:first-of-type {
        font-weight: 700;
        strong {          
          color: $color2;
          @include breakpoint-down(md) {
            font-size: rem(20px);
            line-height: rem(24px);
          }
          @include breakpoint-up(md) {
            font-size: 2rem;
            line-height: rem(38.4px);
          }
        }
      }
      &:last-of-type {

      }
    }
  }

  &__scheduleColumn__itemTitle {
    margin-bottom: 0.6rem;
    color: $color2;
    font-size: rem(32px);
    margin-bottom: rem(28px);
  }

  &__scheduleColumn__desc {
    font-size: rem(14px);
    line-height: rem(16.8px);
    color: $color1;

    strong {
      font-weight: 700;
    }

    @include breakpoint-up(md) {
      font-size: rem(20px);
      line-height: rem(24px);
    }

  }


}