.goals {
  &__target {
    &s {
      @include breakpoint-up(sm) {
        padding: rem(45px) 0;
      }
    }

    &--img {
      @include breakpoint-down(sm) {
        img {
          max-width: 156px;
        }

      }
    }

    &--tit {
      color: $color1;
      font-weight: 700;

      strong {
        font-weight: 700;
      }
    }

    &--desc {
      max-width: rem(268px);
      text-align: center;
      margin: 0 auto;
    }
  }

  /*---- TIME ----*/
  &__time {
    &Section {
      padding: 2rem 0;

      @include breakpoint-down(sm) {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
    }

    &Wrap {
      position: relative;
      overflow: hidden;
    }

    &__img {
      overflow: hidden;

      @include breakpoint-down(md) {
        min-height: rem(320px);
      }

      @include breakpoint-up(md) {
        min-height: rem(445px);
      }

      .wp-block-image {
        position: absolute;
        width: 100%;

        @include breakpoint-down(sm) {
          height: 100%;
        }

        img {
          @include breakpoint-down(sm) {
            position: relative;
            left: -56%;
            width: auto;
            max-width: none;
            height: 100%;
          }

          @include breakpoint-up(sm) {
            width: 64%;
            left: -120%;
          }

          // width: 100%;
          // height: auto;
        }
      }
    }

    &__content {
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;

      @include breakpoint-down(sm) {
        position: absolute;
        width: 54%;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
      }

      @include breakpoint-up(sm) {
        position: relative;
      }
    }

    &__table {
      background: $color3;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      @include breakpoint-down(sm) {
        padding: 1rem;
      }

      @include breakpoint-up(sm) {
        padding: 2rem 1rem;
      }

      .wp-block-group__inner-container {}

      .wp-block-columns {
        margin: 0;

        @include breakpoint-down(sm) {
          gap: 0;
        }

        @include breakpoint-up(sm) {
          gap: 1rem;
        }

        &.month {
          align-items: flex-end !important;

          @include breakpoint-up(sm) {
            margin: 1rem 0 0.5rem 0;
          }
        }

        &.time {
          p {
            margin: 0;
            line-height: 2;
          }
        }

        &:not(.time) {
          p {
            line-height: 1;
          }
        }
      }

      .wp-block-column {
        &:first-child {
          flex-basis: auto;
          flex-grow: 0;
        }

      }
    }
  }

  &__courseInfo {
    &Wrap {
      .wp-block-group__inner-container{
        > h2,h3{
          @include breakpoint-down(md) {
            margin-bottom: 2rem;
          }
        }
      }
      .wp-block-columns {
        background-color: $color3;
        margin: 0.5rem 0;
        gap: 0;

        @include breakpoint-down(md) {
          flex-wrap: nowrap !important;
          >.wp-block-column {
            flex-basis: fit-content !important;
          }
        }

        @include breakpoint-up(md) {
          padding: 1rem;
        }
      }
    }

    &__item {
      padding: 1.2rem 1.2rem 2.2rem 1.2rem;
      box-sizing: border-box;
      position: relative;



      &.num {

        @include breakpoint-down(md) {
          flex-basis: auto !important;
        }

        p {
          display: block;
          color: $white;
          background-color: $color5;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          line-height: 1;
          font-weight: 700;
          box-sizing: border-box;
          padding-top: 0.5rem;

          @include breakpoint-down(md) {
            width: rem(72px);
            height: rem(72px);
            font-size: rem(12px);
          }

          @include breakpoint-up(md) {
            width: rem(120px);
            height: rem(120px);
            font-size: rem(20px);
          }

          strong {
            color: $white;
            line-height: 1;
            margin-top: rem(5px);

            @include breakpoint-down(md) {
              font-size: rem(30px);
            }

            @include breakpoint-up(md) {
              font-size: rem(60px);
            }
          }
        }
      }

      &.content {
        @include breakpoint-up(md) {
          flex-basis: 100% !important;
          padding-left: 2rem;
        }
      }

      &--tit {}

      &--des {}

      &--button {
        display: block;
        // margin: 1rem 0 0 auto !important;

        @include breakpoint-up(md) {
          position: absolute;
          bottom: 0.5rem;
          right: 2rem;
        }

        .wp-block-button__link {}

        &.small {
          .wp-block-button__link {
            border-color: $color2;
            border-radius: 0;
            padding: 0.2rem 1rem;
            font-size: rem(12px);
            font-weight: 400;
          }
        }
      }
    }
  }
}