body {

    &.page,
    &.archive,
    &.category,
    &.single {
        @include breakpoint-down(sm) {
            padding-top: 8rem;
        }
    }

    &.single {
        @include breakpoint-down(sm) {
            padding-top: rem(200px);

            .page__titWrap {
                display: none;
            }

            .singlePost__sidebar {
                padding-top: 0;
                margin-top: -2rem;
            }

            .widget_search {
                position: absolute;
                top: rem(117px);
                left: 0;
                width: 100%
            }
        }
    }
}

.page {
    &__titWrap {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;

        @include breakpoint-up(sm) {
            margin-top: rem(100px);
        }

        &+div {
            @include breakpoint-down(sm) {
                padding-bottom: 2.5rem;
            }

            @include breakpoint-up(sm) {
                padding-top: 5rem;
            }
        }

        .container {
            position: relative;
        }

        @include breakpoint-up(sm) {
            height: 240px;
            background-color: $color7;
            background-image: url(~images/background-page.png);
            background-repeat: no-repeat;
        }

        @include breakpoint-down(md) {
            background-size: auto 100%;
            background-position: center right rem(-280px);
        }

        @include breakpoint-up(md) {
            height: 306px;
            background-size: auto 100%;
            background-position: right;
        }
    }

    &__tit {

        text-transform: uppercase;

        @include breakpoint-down(sm) {
            margin-top: 1rem;
            margin-bottom: 1.5rem;
        }

        @include breakpoint-up(sm) {
            margin-top: 3rem;
            margin-bottom: 2rem;
        }
    }
}