.payment {
  &__container {
    max-width: rem(780px) !important;
  }

  &__tit {
    display: table;
    margin: 0 auto 2rem auto;

    &::after {
      content: '';

      width: 50%;
      background-color: $color1;
      margin: 1rem auto 0 auto;
      display: block;

      @include breakpoint-up(md) {
        height: 7px;
      }

      @include breakpoint-down(md) {
        height: 3px;
      }
    }
  }

  &__thumbs {
    margin-top: 2rem;

    @include breakpoint-down(md) {
      gap: 0 !important;
    }
  }
}