.vision {
  @include breakpoint-down(md) {
    padding-bottom: 3rem;
  }
  @include breakpoint-up(md) {
    padding-top: 5rem;
    padding-bottom: 4rem;
  }
  &__container {

  }
  &__contentWrapper{

  }
  &__imgWrapper{

  }
  &__descWrapper{
    strong {
      font-weight: 700;
    }
    > h3 {
      color:$color2;
    }
    max-width:478px;
  }
}