.footer {
    background: $color3;
    position: relative;

    @include breakpoint-down(md) {
        padding: 3rem 0;
    }

    @include breakpoint-up(md) {
        padding: 4rem 0;
    }

    &__quoteWrap {
        position: absolute;
        width: 100%;
        @include breakpoint-down(md) {
            top: -2.5rem;
        }
        @include breakpoint-up(md) {
            top: -4rem;
        }
    }

    &__quote {
        color: $white;
        border-radius: 10px;
        line-height: 1.1;
        font-weight: 700;
        background-color: $color2;
        background-repeat: no-repeat;
        background-image:  url('~images/icon-quite.png');
        @include breakpoint-down(md) {
            font-size: 1rem;
            padding: 1.6rem 1rem 1.5rem 4rem;
            background-position: left 1rem top 1rem;
            background-size: 2rem;
        }
        @include breakpoint-up(md) {
            font-size: 2rem;
            padding: 2.5rem 3.5rem 1.5rem 7rem;
            background-position: left 2rem top 1rem;
        }
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        @include breakpoint-down(md) {
            margin-top: 2rem;
        }

        @include breakpoint-up(md) {
            margin-top: 3rem;
            
            justify-content: space-between;
           
        }

        &__item {
            @include breakpoint-down(md) {
                width: 100%;
                display: block;
            }

            @include breakpoint-up(md) {
                width: 50%;
                flex-basis: 50%;
            }
        }
    }

    &__itemLeft {
        @include breakpoint-down(md) {
            order: 2;
        }
        &__logoWrap {
            width: 100%;
            float: both;
            display: block;
            @include breakpoint-down(md) {
                position: absolute;
                top: 4.2rem;
            }
        }

        &__logo {
            height: auto;
            @include breakpoint-down(md) {
                margin-left: 1rem;
            }
        }

        &__row {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            @include breakpoint-down(md) {

            }
            @include breakpoint-up(md) {
               
                justify-content: space-between;
                float: right;
                clear: both;
                
                max-width: 25rem;
            }

        }

        &__item {
            @include breakpoint-down(md) {
                width: 100%;
                &.left{
                    order: 2;
                }
                &.right{
                    margin-top: 0.5rem;
                    margin-bottom: 1rem;
                }
            }
            &--topColor {
                a {
                    color: $color2 !important;
                    font-weight: 900;
                }
            }
        }

        ul {
            list-style-type: none;

            li {
                a {
                    text-decoration: none;
                    color: $color1;
                    padding-top: 0.5rem;
                    padding-bottom: 0.5rem;
                    display: block;

                    &.icon--phone {
                        color: $color2;
                        font-size: 1.2rem;
                        font-weight: 900;
                    }
                }
            }
        }
    }

    &__itemRight {
        text-align: right;
        @include breakpoint-down(md) {
            padding-top: 5rem;
        }

        &--img {
            height: auto;
            max-width: 100%;
        }
    }
}

.icon {
    padding-left: 2.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-position: center left;
    background-repeat: no-repeat;
    display: block;

    &--phone {
        background-image: url(~images/icon-phone-pink.png);
    }

    &--mail {
        background-image: url(~images/icon-mail-pink.png);
    }

    &--address {
        background-image: url(~images/icon-map-pink.png);
    }
}