.header{
    &__wrap{
        @include breakpoint-up(md){
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    &__menuWrap{
        @include breakpoint-up(md){
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
    }
    &__logo{
        @include breakpoint-up(md){
            margin-right: 2.5rem;
        }
    }
    &__menu{
        list-style-type: none;
        background-color: $color3;
        @include breakpoint-up(md){
            display: flex;
            flex-wrap: wrap;
            padding: 1rem 0.5rem;
            flex-grow: 1;
            justify-content: right;
        }
        li{
            &.current-menu-item{
                a{
                    font-weight: 900;
                    color: $color2;
                }
            }
            a{
                text-decoration: none;
                text-transform: uppercase;
                color: $color1;
                padding: 0.5rem rem(27px);
                font-size: rem(12px);
            }
        }
        &--button{
            a{
                background-color: $color2;
                color: $white !important;
                border-radius: 5px;
            }
        }
    }
}