.header{
    &__wrap{
        @include breakpoint-up(md){
            display: flex;
            justify-content: space-between;
        }
    }
    &__menuWrap{
        @include breakpoint-up(md){
            flex-grow: 1;
            display: flex;
            align-items: center;
        }
    }
    &__logo{
        @include breakpoint-up(md){
            margin-right: 2.5rem;
        }
    }
    &__menu{
        list-style-type: none;
        background-color: $color3;
        @include breakpoint-up(md){
            display: flex;
            flex-wrap: wrap;
            padding: 1rem 0.5rem;
            flex-grow: 1;
            justify-content: right;
            align-self: stretch;
            align-items: center;
        }
        li{
            &.current-menu-item{
                a{
                    font-weight: 900;
                    color: $color2;
                }
            }
            a{
                text-decoration: none;
                text-transform: uppercase;
                color: $color1;
                padding: 0.5rem rem(27px);
                font-size: rem(12px);
            }
        }
        &--button{
            a{
                background-color: $color2;
                color: $white !important;
                border-radius: 5px;
            }
        }
    }
    &__hotline{
        background-color: $color3;
        padding: 0.5rem;
        box-sizing: border-box;
        align-self: stretch;
        &--button{
            background-color: $color2;
            color: $white;
            display: block;
            text-decoration: none;
            padding: 0.5rem 1rem 0.5rem 3rem;
            border-radius: 10px;
            background-image: url('~images/icon-phone.png');
            background-position: center left 0.8rem;
            background-repeat: no-repeat;
            background-size: 26px;
            line-height: 1.3;
            font-size: rem(12px);
            tel{
                font-weight: 900;
                font-size: rem(14px);
            }
        }   
    }
}